<% provide(:title, 'Blog') %>
<%= render 'layouts/slider' %>
<div class="container mb-5">
  <div class="row">
    <div class="col text-center">
      <h1 class="text-primary">Chào mừng đến với Blogo</h1>
      <p>
        Đây là kênh chia sẻ kiến thức, bài viết, giao lưu, học hỏi về Rails, PHP, Web development
      </p>
      <%= link_to "Đăng kí ngay", sign_up_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>