<% provide(:title, 'Tạo bài viết') %>
<div class="container mt-5 mb-5">

  <div class="row mt-3 mb-3 ms-5">
    <%= link_to "Trang chủ", root_path, class: "text-decoration-none", style: "display: contents" %> 
    > <%= link_to "Bài viết", articles_path, class: "text-decoration-none", style: "display: contents" %> 
    > Tạo bài viết
  </div>

  <div class="row">
    <h1 class="text-center">Tạo mới bài viết</h1>
  </div>

  <%= render 'form' %>

  <br>

</div>