<div class="container mt-5 mb-5">
  <div class="row mb-3">
    <h1 class="text-center">Cài đặt tài khoản</h1>
  </div>

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <% if @user.errors.any? %>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

      <%= render 'form' %>
    </div>
    <div class="col-4"></div>
  </div>
</div>