<div id="template-mo-zay-hero-carousel" class="carousel carousel-dark slide mb-5" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 d-flex align-items-center">
                        <a href="#"><%= image_tag("slides/slide1.jpg", :alt => "demo", :class => "img-fluid rounded", height: 390 ) %></a>
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center" style="height: 300px;">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-warning"><strong>TheCoffee-shop</strong> eCommerce</h1>
                            <div class="h2">Chất lượng - giá cả hợp lý</div>
                            <p>
                                Giá tốt - giao hàng - bảo hành toàn quốc 
                                Trải rộng khắp cả nước với khoảng hơn <strong>100</strong> cửa hàng bán lẻ trên toàn quốc.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 d-flex align-items-center">
                        <a href="#"><%= image_tag("slides/slide2.jpg", :alt => "demo", :class => "img-fluid rounded", height: 390 ) %></a>
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center" style="height: 300px";>
                        <div class="text-align-left">
                            <h1 class="h1 text-warning">Tự tin với chất lượng</h1>
                            <h3 class="h2">Nâng cao chất lượng Cafe ngang tầm quốc tế</h3>
                            <p>
                                <strong>TheCoffee-shop</strong> công bố sở hữu vùng nguyên liệu nguyên liệu có chất lượng quốc tế.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 d-flex align-items-center">
                        <a href="#"><%= image_tag("slides/slide3.jpg", :alt => "demo", :class => "img-fluid rounded", height: 390 ) %>></a>
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center" style="height: 300px;">
                        <div class="text-align-left">
                            <h1 class="h1 text-warning">Đa dạng hóa sản phẩm</h1>
                            <h3 class="h2">Phương châm "vì sức khỏe cộng đồng"</h3>
                            <p>
                                Hội thảo chuyên đề về ngành sữa Việt Nam với chủ đề: “Phát triển và đa dạng hóa sản phẩm”
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


